#profile {
    background:rgba(0,0,0,0.4);
    min-height: 100vw;
}

.profile-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-two {
    color: #fafafa;
    display: flex;
    flex-direction: column;
    text-align: center;
}


#profile-welcome {
    margin-top: 14px;
}

#add-item-button {
    margin-top: 10px;
}

.profile-three {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

.inventory {
    margin-top: 17px;
    color: #fafafa;
}

.profile-each-card {
    margin: auto;
    margin-top: 4px;
}

.card-header {
    background-color: #6c838f;
    color: #fafafa;
}

.profile-image {
    height: 200px;
}

.card-footer {
    background-color: #6c838f;
}

h1 {
    color: #fafafa;
}

h2 {
    color: #fafafa;
}

p {
    font-size: 10pt;
}