#home-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#home-one {
    display: flex;
    flex-direction: column;
}

#home-two {
    margin-top: 0;
    flex-flow: row;
    min-width: 67vw;
}

#home-items {
    display: inline-flex;
    flex-wrap: wrap;
}

.home-each-box {
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-top: 0;
    block-size: fit-content;
    width: 20%;
}

.each-box-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #6c838f;
    color: #fafafa;
}

.each-box-two {
    background-color: #fafafa;
    color: #444;
}

.home-cover {
    height: 11rem;
}

.card-footer {
    background-color: #6c838f;
}

p {
    font-size: 10pt;
}