.nav {
  /* flex box layout */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  top: 0;
  margin: 0;
  background-color: #674736;
  color: #fafafa;
  overflow: hidden;
  justify-content: space-evenly;
}

.nav a {
  text-decoration: none;
}

/* #header-not-carousel {
  display: flex;
  text-align: center;
  justify-content: space-between;
} */

.nav-title {
  font-size: 400%;
  font-weight: 700;
  font-family: 'Libre Baskerville', serif;
  color: #fafafa;
  padding-left: 10px;
  margin: 0 40px 0 0;
}

.navLinks {
  display: flex;
  margin-left: 25px;
}

.navLink {
  display: inline-block;
  color: #fafafa;
  background-color: #674736;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 20px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #76594a;
  color: #365667;
}

.header-carousel {
  padding: 20px;
  width: 15vw;
}